.button{
    background-color: black;
    color: white;
    height:45px;
    width: 220px;
    border-radius: 5px;
    border:none;
}
.button:hover{
    transition: 0.45s ease-in-out;
    cursor: pointer;
}